/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    /*outline: 1px black solid;*/
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.fz-36 {
    font-size: 36px;
}

.fz-48 {
    font-size: 48px;
}

.fz-64 {
    font-size: 64px;
}


.d-flex {
    display: flex;
}

.bg-primary {
    background: #aa0601;
}

.bg-secondary {
    background: #fbf2f2;
}

.text-primary {
    color: #aa0601;
}

.text-secondary {
    color: #650300;
}

.text-center {
    text-align: center;
}

/*通用設定結束*/

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 373px;
        padding: 0;
    }
}

/*section--header*/

.nav-list a {
    color: #fff;
    padding: 0 32px;
}

.nav-list li:last-child a {
    padding-right: 0;
}

.logo img {
    width: 80px;
    height: 49px;
    margin: 12px 0;
}

@media (max-width: 767px) {
    .logo img {
        padding-left: 12px;
    }
}

.navbar {
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        flex-wrap: wrap;
        width: 100%;
    }

    .nav-list li {
        border: 1px solid #fff;
        width: 50%;
    }

    .nav-list a {
        display: block;
        font-size: 16px;
        padding: 12px 0;
    }
}

/*section--banner*/

.banner {
    background: url(./images/home-header.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 296px 0;
}

@media (max-width: 992px) {
    .banner {
        background: url(./images/home-header-sm.png)no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@media (max-width: 767px) {
    .banner {
        padding: 144px 0;
    }
}

.banner-content {
    text-align: right;
}


.banner-content h2 {
    font-weight: bold;
}

@media (max-width: 767px) {
    .banner-content h1 {
        font-size: 16px;
    }

    .banner-content h2 {
        font-size: 24px;
    }
}

.btn {
    display: inline-block;
    margin-top: 4px;
}

.btn a {
    display: inline-block;
    color: #fff;
    padding: 6px 12px;
}

/*section--about*/

.about {
    padding: 80px 0;
}

@media (max-width: 992px) {
    .about {
        padding-bottom: 56px;
    }
}

@media (max-width: 767px) {
    .about {
        padding-top: 40px;
        padding-bottom: 16px;
    }
}

.about h2 {
    font-weight: bold;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .about h2 {
        font-size: 24px;
    }
}

.about-detail h3 {
    font-weight: bold;
    margin-bottom: 8px;
}

.about-detail {
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-detail li {
    width: 23.6%;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 992px) {
    .about-detail li {
        width: 48%;
    }

    .about-detail p {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .about-detail li {
        width: 100%;
    }
}

.about-detail img {
    width: 100px;
    margin-bottom: 16px;
}

/*section--series*/

.series {
    padding: 80px 0;
}

.series h2 {
    font-weight: bold;
    margin-bottom: 48px;
}

@media (max-width: 767px) {
    .series {
        padding: 40px 0;
    }

    .series h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
}

.series h3 {
    font-weight: 900;
    font-style: italic;
}

.series-detail {
    justify-content: space-between;
}

.series-detail img {
    width: 416px;
}

@media (max-width: 992px) {
    .series-detail img {
        width: 336px;
        margin-bottom: 8px;
    }

    .series-detail {
        flex-direction: column;
        align-items: center;
    }

    .series-detail li:not(:last-child) {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .series-detail img {
        width: 348px;
    }
}

/*section--collab*/

.collab h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 48px;
}

.collab-detail h3 {
    font-weight: 900;
    font-style: italic;
    background: #fff;
    padding: 8px 0;
}

.collab {
    background: url(./images/index-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px 0;
}

.collab-detail img {
    width: 648px;
}

.mobile {
    display: none;
}

@media (max-width: 992px) {
    .collab {
        background: url(./images/index-bg-md.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .collab-detail {
        flex-direction: column;
        align-items: center;
    }

    .collab-detail li:not(:last-child) {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .collab {
        background: url(./images/index-bg-sm.png) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 40px 0;
    }

    .collab h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

}

/*section--recommend*/

.recommend h2 {
    font-weight: bold;
    margin-bottom: 48px;
}

.recommend {
    padding: 80px 0;
}

.review {
    height: 72px;
}


.recommend-date {
    color: #707070;
    padding-top: 48px;
}

.recommend-card {
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommend-card li {
    width: 23.6%;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}

.card-content {
    padding: 16px;
}

.card-content .name {
    padding-bottom: 8px;
}

@media (max-width: 992px) {
    .recommend-card li {
        width: 48%;
    }

    .recommend-card li:nth-child(-n+2) {
        margin-bottom: 24px;
    }

    .review {
        height: 48px;
    }

    .recommend-date {
        padding-top: 72px;
    }
}

@media (max-width: 767px) {
    .recommend {
        padding: 40px 0;
    }

    .recommend h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .recommend-card li {
        width: 100%;
    }

    .recommend-card li:not(:last-child) {
        margin-bottom: 16px;
    }
}

/*section--contact*/

.contact {
    padding: 80px 0;
}

@media (max-width: 767px) {
    .contact {
        padding: 40px 0;
    }
}

.contact h2 {
    font-weight: bold;
    margin-bottom: 48px;
}

@media (max-width: 992px) {
    .contact h2 {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .contact h2 {
        font-size: 24px;
    }
}

.contact-form {
    width: 49%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .contact-form {
        width: 82.75%;
    }
}

@media (max-width: 767px) {
    .contact-form {
        width: 100%;
    }
}

.contact-form p {
    margin-bottom: 24px;
}

@media (max-width: 992px) {
    .contact-form p {
        font-size: 16px;
    }
}

.contact-form input:not(.agreement) {
    width: 100%;
    display: block;
    margin-bottom: 16px;
    padding: 6px 12px;
}

.contact-form label:not(.agreement) {
    margin-bottom: 8px;
}

@media (max-width: 992px) {
    .contact-form label:not(.agreement) {
        margin-bottom: 16px;
    }
}

.contact-form input[type="submit"] {
    width: 66.66%;
    margin: 0 auto;
    color: #fff;
    padding: 16px 0;
    margin-top: 48px;
    border: none;
}

.contact-form input[type="submit"]:hover {
    background: #650300;
}

@media (max-width: 992px) {
    .contact-form input[type="submit"] {
        width: 58.33%;
    }
}

@media (max-width: 767px) {
    .contact-form input[type="submit"] {
        width: 100%;
        margin-top: 24px;
        font-size: 16px;
    }
}

.comment {
    height: 136px;
}

@media (max-width: 767px) {
    .contact-form span {
        display: block;
        text-indent: 24px;
    }
}

/*section--footer*/
.footer {
    padding-top: 48px;
    padding-bottom: 32px;
}

@media (max-width: 992px) {
    .footer {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 24px 0;
    }
}

.footer a {
    color: #fff;
}

.footer-content {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .footer-content {
        float: right;
    }
}

.footer-list li {
    margin-right: 48px;
}

.social-media li {
    margin-left: 32px;
}

.social-media img {
    width: 48px;
}

@media (max-width: 992px) {
    .social-media img {
        width: 40px;
    }

    .social-media li {
        margin-left: 16px;
    }
}

@media (max-width: 767px) {

    .footer-list {
        display: none;
    }

    .social-media img {
        width: 24px;
    }

    .social-media li {
        margin-left: 8px;
    }
}

.footer-contact {
    color: #fff;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

li .material-symbols-outlined {
    font-size: 48px;
    margin-right: 16px;
}

@media (max-width: 767px) {
    li .material-symbols-outlined {
        font-size: 18px;
        margin-right: 11px;
    }

    .footer-contact p {
        font-size: 16px;
    }

    .footer-contact li:nth-child(1) {
        margin-bottom: 11px;
    }

    .footer-contact {
        padding-bottom: 24px;
        margin-bottom: 16px;
    }
}

.footer-contact li:nth-child(1) {
    margin-bottom: 8px;
}

.terms {
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.terms li {
    margin-left: 48px;
}

@media (max-width: 767px) {
    .terms ul {
        font-size: 16px;
        flex-direction: column;
    }

    .terms {
        flex-direction: column;
        align-items: flex-start;
    }

    .terms li {
        margin-left: 0;
    }

    .terms li:nth-child(1) {
        margin-bottom: 8px;
    }

    .terms p {
        margin-bottom: 8px;
    }
}